html, body {
	margin: 0;
	height: 100%;
	background: #E3F1F9;
}

.main {
	min-height: 100%;
	padding-bottom: 70px;
	box-sizing: border-box;
}

.footer {
	min-height: 50px;
	margin-top: -52px;
	background-color: #F8F8F8;
}

.header {
	background-color: #F8F8F8;
	min-height: 50px;
}

.input-error {
	color: #FF0000;
}

.loacale-swith {
	margin: 7.5 15px;
}

.footer-panel {
	margin: 0px;
	background-color: #F8F8F8;
}